.todo-box {
  background-color: white;
  margin: 40px auto;
  padding: 40px 40px;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
}

.todo-box h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 800;
  text-transform: lowercase;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 500px;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  gap: 10px;
  background: transparent;
}

.checkbox {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid #bbb;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  flex-shrink: 0;
}

.checkbox:hover::after {
  content: "✓";
  font-weight: bold;
  color: #333;
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 11px;
}

.checkbox.concluido {
  background-color: #333;
  border-color: #333;
}

.checkbox.concluido::after {
  content: "✓";
  font-weight: bold;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 11px;
}

.todo-text {
  flex: 1;
  padding: 8px 12px;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-text.riscado {
  text-decoration: line-through;
  color: #888;
}

.prazo-box {
  min-width: 100px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 12px;
}

.todo-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.botao-editar,
.botao-apagar {
  border: none;
  border-radius: 12px;
  width: 38px;
  height: 38px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Cores por prioridade */
.prioridade-alta {
  background-color: rgba(217, 75, 82, 0.62);
}
.prioridade-media-alta {
  background-color: rgba(246, 154, 88, 0.62);
}
.prioridade-media {
  background-color: rgba(246, 217, 88, 0.62);
}
.prioridade-baixa {
  background-color: rgba(145, 240, 90, 0.62);
}

.add-todo-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 52px;
  height: 52px;
  background-color: #4040a1;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-button:hover {
  background-color: #2f2f8c;
}
